doctype html
html
    head
        title Регистрация
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0")        
        link(href="/normalize.css" rel="stylesheet" type="text/css")
        link(href="/style.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="/chat.css" type="text/css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js")
    body 
        div.container
            div.users__niks
                div.user__info
                    .div.user__info-photo.user__photo
                    p.name #{name}
                ul.users
            div.users__messages
                div.uploadPhoto
                    p.uploadPhoto__text Загрузка фото
                    div.uploadPhoto__block
                        div.photo__block
                        div.photo__btn
                            form(action="/upload" method="post" enctype="multipart/form-data")
                                input(type="file" name="filedata").get__file 
                                button.btn__photo.btn__close Отмена
                                button.btn__photo.btn__load Загрузить
                ul#messages.message__field
                form(action="").message__send
                    input(autocomplete="off" class="mess" placeholder="Введите сообщение")#m 
                    button.btn Отправить
        script(src="/chat.js")