<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
    <link href="/normalize.css" rel="stylesheet" type="text/css"/>
    <link href="/style.css" rel="stylesheet" type="text/css"/>    
</head>
<body>
    <div class="authorization">
        <p> #{title} Авторизация #{title} </p>
        <form action="/" class="authorization__form" method="post">
            <input class="input" type="text" name="name" placeholder="ФИО">
            <input class="input" type="text" name="nik" placeholder="Ник">
            <button class="authorization__btn">Войти</button>
        </form>
    </div>    
</body>
</html>