*{
    box-sizing: border-box;
}
.container {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 1%;
}
.container:after{
    content: '';
    display: table;
    clear: both;
}
.container .users__niks {
    width: 29%;
    height: 100%;
    padding: 10px;    
    float: left;
    background-color: #FFA07A;
}
.users__niks .user__info{
    display: flex;
    flex-wrap: nowrap;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold
}
.user__info-photo{
    align-self: center;
    margin-right: 15px;
    cursor: pointer;
}
.user__info p{
    align-self: center;
    max-width: 220px;
    width: 100%;
}
.container .users__messages {
    position: relative;
    float: right;
    width: 69%;
    padding: 10px;
    height: 100%;
    background-color: #FFFFF0;
}
.users__messages #messages{
    padding-left: 10px;
    overflow-y: scroll;
    max-height: 90%;
} 
.users__messages .message__send{
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
.users__messages .message__send:after{
    content: '';
    display: table;
    clear: both;
}
.users__messages .mess{
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid #C0C0C0;
    float: left;
    width: 80%;
}
.users__messages .btn{
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: #FFA07A;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    float: right;
}
.users__messages .btn:hover{
    background-color: #D2691E;
}
/****************    Участники стили      *********************/

.users{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    list-style-type: none;
}
.users .user{
    text-transform: none;
    letter-spacing: 1px;
    font-weight: normal;
    margin: 5px 10px 5px 20px; 
    
}

/*****************     Сообщения - стили    *******************/
.user__message {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px auto;
    width: 100%;
}
.user__photo {
    border-radius: 100%;
    align-self: center;
    background-color: aqua;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    border: none;
}
.user__message .user__text {
    margin-left: 20px;    
    width: 600px;
}
.user__message span {
    font-weight: bold;
}


/*****************/

.uploadPhoto {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
    width: 450px;
    height: 450px;
    margin: 20px auto;
    background-color: #DCDCDC;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 20px 10px 10px 10px;
    border-radius: 15px;
    display: none;
}
.uploadPhoto .uploadPhoto__text {
}
.uploadPhoto .uploadPhoto__block {
    padding-top: 15px;
    border-radius: 15px;
    background-color: #ffffff;
}
.uploadPhoto .photo__block {
    width: 180px;
    height: 180px;
    border: 2px dotted #DCDCDC;
    margin: 20px auto;
    border-radius: 15px;
    background-size: cover;
    background-position: center;    
}
.uploadPhoto .photo__btn {
    text-align: right;
    
}
.uploadPhoto .btn__photo {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #F4A460;
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 5px 10px 5px;
}
.photo__active{
    border-color: gold;
}
